<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="csrf-token" content={get_csrf_token()}/>
    <title>PRZMA · My Panel</title>
    <script defer phx-track-static type="text/javascript" src="/assets/app.js"></script>
  </head>
  <body style="margin:0;padding:0;background:#f8fafc">
    {@inner_content}
  </body>
</html>
